.articlesTable {
  margin: 1em auto;
  text-align: left;
  border-collapse: collapse;
}
.articlesTable tr {
  border-bottom: 1px solid #eee;
}
.articlesTable tr:hover {
  border-bottom-color: lightgrey;
}
.articlesTable th,
.articlesTable td {
  padding: 1px 5px;
}
.articlesTable td:first-child small {
  display: block;
  font-size: 0.9em;
}
.articlesTable td:nth-child(2),
.articlesTable td:nth-child(3)
{
  max-width: 10em;
  word-wrap: break-word;
  line-height: 1.4em;
}
