.tags {
  max-width: 50vw;
  margin: 1em auto 0;
  display: inline-flex;
  text-align: left;
}
.tags b {
  margin-right: 5px;
}

.tocContainer {
  display: inline-block;
  max-width: 50%;
}
.tocContainer p {
  text-align: left;
  margin: 0;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2em;
}
.toc {
  text-align: left;
  margin: 0;
  counter-reset: toc-counter;
}
.toc > li {
  counter-increment: toc-counter;
  counter-reset: toc-sub-counter;
}
.toc ol {
  list-style: none;
  padding-left: 30px;
}
.toc ol li::before {
  counter-increment: toc-sub-counter;
  content: counter(toc-counter) "." counter(toc-sub-counter) ". ";
}

.content {
  text-align: left;
  width: 80%;
  margin: 1em auto;
  border: 1px solid #aaa;
  padding: 5px;
  font-size: 0.9em;
  line-height: 1.4em;
}
.content h1 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
  scroll-margin-top: 30px;
  background: #dedede;
  padding: 5px;
}
.content h1:not(:first-child) {
  margin-top: 0.5em;
}
.content h2 {
  font-size: 1.4em;
  scroll-margin-top: 30px;
}
.content ul,
.content ol {
  margin: 5px 0;
}
.content span {
  white-space: pre-wrap;
}
