.alphabetTd {
  text-align: center;
}
.alphabetGraph {
  padding: 2px 4px;
  display: inline-block;
}
.alphabetGraph > span:hover {
  cursor: pointer;
  background: #ddd;
}

.identicalWordsList {
  margin: 0;
  padding: 0 0 0 20px;
}
